Container {
    align: center middle;
    height: 100%;
}

Static {
    height: auto;
    width: 100%;
    overflow: auto;
}

Prompt {
    dock: bottom;
    height: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: green;
}